.background{
    background-color: rgb(252, 159, 175);
    background-color: white;
}
.navbar-toggler{
    border: none;
    color: transparent;
}
.mobile_menu_icon{
    color:black !important;
    font-size: larger;
    cursor: pointer;
}
.button{
    width: 5rem;
    height: 2rem;
    border: 0cm;
    background-color: rgb(252, 149, 166);
    color: white;
}
.button:hover{
    background-color: rgb(253, 122, 144);
    color: white;
    cursor: pointer;
}
.button:focus{
    color: white;
}
.header{
    z-index: 999;
    background-color: rgb(255, 204, 212);
}
.navbar_title{
    font-weight: 700;
}
.screen_mode_icon{
    font-size: 23px;
    cursor: pointer;
}
.header_name{
    color: black;
    font-family: Optima;
    cursor: pointer;
}
.carousel{
    max-height: 300px;
}
.product_card{
    box-shadow: 0px 0px 10px 0px rgb(255, 207, 215);
    border: none;
}
.product_card:hover{
    box-shadow: 0px 0px 20px 10px rgb(255, 207, 215);
    border: none;
}
.main_product_seller{
    color: rgb(253, 122, 144);
    font-size: 40px;

}
.footer{
    background-color: white;
}
.footer_element{
    color: rgb(255, 204, 212) !important;
}
.footer_element:hover{
    color: rgb(252, 149, 166) !important;
    cursor: pointer;
}
.footer_element_date{
    color: rgb(255, 204, 212) !important;
}
.navbar_line{
    border-bottom: 0.3px rgb(252, 149, 166) solid;
}
/*DARK MODE*/

.dark_background{
    background-image: linear-gradient(rgb(21, 1, 21), rgb(0, 0, 88));
}
.dark_button{
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    color: white;
    font-family: Optima;
}
.dark_button:hover{
    background-color: rgba(128, 128, 128, 0.273);
    color: white;
    cursor: pointer;
}
.dark_button:focus{
    background-color: rgba(128, 128, 128, 0.273);
    color: white;
}
.dark_header{
    z-index: 999;
    background-image: linear-gradient(rgb(21, 1, 21), rgb(0, 0, 88));
}
.dark_navbar_title{
    font-weight: 700;
}
.dark_screen_mode_icon{
    font-size: 23px;
    color: white;
    cursor: pointer;
}
.dark_header_name{
    color: white;
    font-family: Optima;
    cursor: pointer;
}
.dark_screen_mode_icon{
    color: white;
    font-size: 23px;
}
.dark_main_product_seller{
    color: white;
    font-size: 45px;
    font-family: Optima;
    font-weight: 500;
}
.dark_product_card{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border: none;
}
.dark_product_card:hover{
    box-shadow: 0px 0px 20px 10px rgb(69, 25, 182);
    border: none;
}
.dark_mobile_menu_icon{
    color:white !important;
    font-size: larger;
}
.dark_footer{
    background-image: linear-gradient(rgb(0, 0, 88), rgb(21, 1, 21))
}
.dark_footer_element{
    color: white !important;
}
.dark_footer_element:hover{
    color: rgba(255, 255, 255, 0.379) !important;
    cursor: pointer;
}
.dark_footer_element_date{
    color: white !important;
}
.dark_navbar_line{
    border-bottom: 0.3px rgba(255, 255, 255, 0.379) solid;
}